
.imgage-content{
    width: 200px;
    height: 200px;
}

.descricao {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    text-align: justify;
    line-height: 20px;
    color: #414141;
    font-size: 15px;
    padding: 50px 10px 10px 20px;
    float: right;
    width: 600px;
    height: 200px;

}

